---
title: Home
---

extends /layouts/base

block body
  h1 Home
  p This is an example static site generated using #[a(href='https://www.npmjs.com/package/gulp-task-metalsmith') gulp-task-metalsmith].
