---
title: Home
---

extends /layouts/base

append vars

block body
  h1= __('hello')
  p This is an example static site generated using #[a(href='https://www.npmjs.com/package/gulp-task-metalsmith') gulp-task-metalsmith].
